<div class="footer__social-links">
  <nav>
    <a href="{{ site.data.cv.url }}" rel="nofollow noopener noreferrer">
      <i class="fa-solid fa-fw fa-file" aria-hidden="true"></i><span> CV</span>
    </a>
  </nav>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
	var str =$(this).attr('id');
	
    $(".btnId").click(function(){
        var str = $(this).attr('id');
		var ret = str.split("_");
		var id = ret[1];
		$('#' + id).toggle();
    });
});
</script>
