<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="icon" type="image/png" href="{{ "/assets/images/favicon/favicon-96x96.png" | relative_url }}" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{ "/assets/images/favicon/favicon.svg" | relative_url }}"/>
<link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | relative_url }}"/>
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/images/favicon/apple-touch-icon.png | relative_url }}" />
<meta name="apple-mobile-web-app-title" content="MyWebSite" />
<link rel="manifest" href="{{ "/assets/images/"/assets/images/favicon/site.webmanifest" | relative_url }}"/>
<!-- end custom head snippets -->
