---
---

{{ reference | replace_first: 'Bisits, J. I.', '<b>Bisits, J. I.</b>' }}

    {% if entry.doi %}
    <a href="http://dx.doi.org/{{entry.doi}}"><button class="btn btnId btnPub--download" style="outline:none; position:relative;white-space: normal; color:var(--link-color);">Link</button></a>
    {% endif %}

    {% if entry.abstract %}
    <button class="btn btnId btnPub--abstract" id="b_{{key}}-abstract" style="outline:none; color:var(--link-color);">Abstract</button>
    {% endif %}

    <div class="dropDownAbstract" id="{{key}}-abstract" style="display:none; font-size: 0.75rem;">
    {{entry.abstract}}
    </div>